<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include parçalar/header %>

    <h1>Admin</h1>
  

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Bootstrap Input Alanları</h1>
            <form action="/compose" method="post" placeholder="Değer girin">
              <div class="form-group">
                <label for="titleInput">Başlık</label>
                <input type="text" class="form-control" id="titleInput" name="mdeger" placeholder="Başlık">
              </div>
              <div class="form-group">
                <label for="postInput">Gönderi</label>
                <textarea class="form-control" id="postInput" rows="5" name="zdeger" placeholder="Gönderi"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
          </div>
        </div>
      </div>
    </body>
  </form>  
  <% include parçalar/footer %>  
</body>
</html>