
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>qcompany ortaklığıyla hazırlandı</p>
  </div>
</div>
<script src="/EJS Challenge Starting Files/ejs-challenge/app.js"></script>
</body>
</html>
