<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include parçalar/header %>

    <h1>Home</h1>
    <p><%= StartingContent %></p>

    <% if (posİte.length > 0) { %>
        <h2>İçerikler</h2>
        <ul>
          <% posİte.forEach(function(item) { %>
            <li>
              <h3><%= item.title %></h3>
              <p><%= item.body %></p>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>Henüz içerik bulunmamaktadır.</p>
      <% } %>
<script src="/EJS Challenge Starting Files/ejs-challenge/app.js"></script>

     <% include parçalar/footer %>   
</body>
</html>